* {background-color: coral;}

h1 {
    font-size: 40px;
    font-family: "Gill Sans", sans-serif;
    padding: 50px;
    margin: 30px;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    padding: ;
    margin: 0px 0px -20px 0px;
    font-weight: ;
    color: ;
    background-color: ;
    text-align: center;
    border: 5px solid black;
    border-color: aqua;
}
p {
    font-family: ;
    font-size: 20px;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
    text-align: center;
    border: 5px solid black;
    border-color: aqua;

}

p em {
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    padding: ;
    /* margin: 0px 0px -200px 0px; */
    font-weight: ;
    color: ;
    background-color: ;
    border: 5px;
    border-color: aqua;
    /* text-align: left; */
}

/* html,body {height: 100%;} */

.logo {
    border: 5px;
    border-color: aqua;
    background-size: cover;
    opacity: 1;
    background-blend-mode: ;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: coral;
    background-position: bottom;
    background-repeat: round;
    height: 200px;
    width: 200px;
    align-text: center;
    flex-wrap: wrap;
}



.bg {
    background-size:cover;
    opacity: 1;
    background-blend-mode: ;
    background-image:
    background-color: green;
    border: 5px solid black;
    border-color: aqua;
}
/* hello */

.two {
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-repeat: repeat;
    width: 100%;
    height: 100px;
}
.here {
    /* width: 100%;
    height: 100%; */
    background-repeat:repeat-x;
    border: 5px solid black;
    border-color: rgb(255, 55, 0);
    align-self: center;
}
